<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Kubicki
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BKubicki_RabbitMqPlayground">
        <sequence>
            <module name="BKubicki_MessageQueue"/>
        </sequence>
    </module>
</config>
